@import '../variables.scss';

[theme="dark-mode"] {
    background-color: $primary-dark;
    color: $primary-light;
}

$dark-mode-shadow: 0 0.375px 0.65rem 0.125rem rgba(135, 135, 187, 0.16),
                    0 0.188rem 0.35rem -0.188rem rgba(158, 158, 158, 0.05);