@import '../variables.scss';

[theme="light-mode"] {
    background-color: $primary-light;
    color: $primary-dark;
}

$light-mode-shadow: 0 0.375px 0.75rem 0.125rem rgba(50, 50, 93, 0.35),
                    0 0.188rem 0.435rem -0.188rem rgba(0, 0, 0, 0.3);