@import './mixins.scss';
@import './variables.scss';
@import './classes.scss';

@import './themes/dark.scss';
@import './themes/light.scss';

@font-face {
    font-family: MonaspaceKrypton;
    src: url('../assets/fonts/monaspace_krypton.ttf') format('truetype');
    font-display: swap;
}

* {
    font-family: MonaspaceKrypton, monaspace;    
    box-sizing: border-box;
    margin: 0;
}

html, body {
    min-height: 100dvh;
}

body {
    overflow-x: hidden;
}