@import './mixins.scss';
@import './variables.scss';

@import './themes/dark.scss';
@import './themes/light.scss';

@font-face {
    font-family: 'Monaspace Krypton';
    src: url('~@/assets/fonts/Monospace-Krypton.ttf') format('truetype');
}

* {
    font-family: 'Monaspace Krypton', monospace;
    box-sizing: border-box;
    margin: 0;
}

html, body {
    min-height: 100dvh;
}