@import "tailwindcss";

@theme {
    --breakpoint-xl: 1400px;
    --breakpoint-lg: 1024px;
    --breakpoint-md: 768px;
    --color-primary-dark: #1b1b1b;
    --color-primary-light: #ececec;
    --color-secondary-dark: #343943;
    --color-secondary-light: #a8b2c1;
    --color-accent-dark: #a84300;
    --color-accent-light: #f26c00;

    --animate-fade-in-out: fade-in-out 1.2s infinite ease-in-out;
    --shadow-dark: 0 0.5px 0.75rem 0.15rem rgba(255, 120, 30, 0.55),
                          0 0.25rem 0.45rem -0.15rem rgba(255, 140, 50, 0.4);
    --shadow-light: 0 0.75px 0.75rem 0.1rem rgba(0, 0, 0, 0.25),
                        0 0.25rem 0.5rem -0.125rem rgba(0, 0, 0, 0.15);

    @keyframes fade-in-out {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
}

@font-face {
  font-family: 'FantasqueSansMono';
  src: url('../assets/fonts/fantasque_sans_mono_regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FantasqueSansMono';
  src: url('../assets/fonts/fantasque_sans_mono_bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FantasqueSansMono';
  src: url('../assets/fonts/fantasque_sans_mono_italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'FantasqueSansMono';
  src: url('../assets/fonts/fantasque_sans_mono_bold_italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@layer utilities {
  .text-gradient {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

* {
    font-family: 'FantasqueSansMono', monospace;
    box-sizing: border-box;
    margin: 0;
}

html, body {
    min-height: 100dvh;
}

body {
    overflow-x: hidden;
    backdrop-filter: blur(18px);
    background-position: center;
}

body[theme="dark-mode"] {
    background-image: url('./assets/images/bg-dark.png');
}

body[theme="light-mode"] {
    background-image: url('./assets/images/bg-light.png');
}