@import "tailwindcss";

@theme {
    --breakpoint-xl: 1400px;
    --breakpoint-lg: 1024px;
    --breakpoint-md: 768px;
    --color-primary: #0d1117;
    --color-secondary: cyan;
}

@font-face {
  font-family: 'FantasqueSansMono';
  src: url('../assets/fonts/fantasque_sans_mono_regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FantasqueSansMono';
  src: url('../assets/fonts/fantasque_sans_mono_bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FantasqueSansMono';
  src: url('../assets/fonts/fantasque_sans_mono_italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'FantasqueSansMono';
  src: url('../assets/fonts/fantasque_sans_mono_bold_italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

* {
    font-family: 'FantasqueSansMono', monospace;
    box-sizing: border-box;
    margin: 0;
}

html, body {
    min-height: 100dvh;
}

body {
    overflow-x: hidden;
}